<%- include("./partials/head.ejs") %>  

<%- include("./partials/nav.ejs") %>   

<h2 class="centeredH1">Main content of the post:</h2>

<p class="aligned"><%=post.body %></p>

<%- include("./partials/footer.ejs") %>